<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Follow Users</h2>
    <!--users一覧 -->
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
          <td><%= user.name%></td>
          <td>フォロー数：<%= user.followings.count %></td>
          <td>フォロワー数：<%= user.followers.count %></td>
          <td><% unless current_user == user %>
            <% if current_user.following?(user) %>
              <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :follow_id, user.id %>
                <%= f.submit 'フォローを外す', class: 'btn btn-warning btn-sm' %>
              <% end %>
            <% else %>
              <%= form_for(current_user.relationships.build) do |f| %>
                <%= hidden_field_tag :follow_id, user.id %>
                <%= f.submit 'フォローする', class: 'btn btn-success btn-sm' %>
              <% end %>
            <% end %>
          <% end %></td>
          <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!--users一覧 -->
    <div class="text-center">
      <%= link_to "Back", users_path, class: "btn btn-default" %>
    </div>
  </div>
</div>